# build output
dist/

# generated types & content store
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*

# environment variables
.env
.env.*
!.env.example

# editor / OS
.DS_Store
.idea/
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
